 html {
        font-size: 28px;
        background-color: rgb(26, 26, 26);
        color: rgb(255, 77, 77);
     }

body {                          
        background-color: rgb(26, 26, 26);
        color:rgb(255, 77, 77) ;
        font-size: 18px;
    }

nav {
        background-color: rgb(243,234,234);
        color: rgb(230, 14, 14);
        font-size: 22px;
    }

section h3, section p {
        color: rgb(244, 244, 249);
        font-size: 22px;
    }

footer {
        color:rgb(255, 77, 77);
        font-size: 16px;
    }
        
